  body {
    background-color: lightgray
  }
  

  .dogpic-thumb {
    height: 100px;
    display: flex;
   }



  .dogBlock {
      display: flex;
      justify-content: center;
      background-color: grey;
      border-radius: 10px;
      width: 150px;
      color: white;
      padding: 10px;
      margin: 2px;
      box-shadow: 1px 1px 1px 1px DarkGrey
      
  }

  .flex-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap
      }

  .pagination {
    max-width: 800px;
    min-width: 300px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    background-color: lightgray;
    padding: 20px;
  }

  
  .pageButton {
    padding: 0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
  }
  .clickPageNumber {
    padding: 0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight: 700;
    color:royalblue;
    text-align:center;
    transition: all 0.2s;
  }
  .pagination-block {
    text-align: center;
    width: 100%;
  }
  .pagination-block span {
    display: inline-block;
  }
  .pagination-block .pageButton {
    margin-top: 5%;
    background-color: royalblue;
    color: white;
  }
  .pagination-block span:hover {
    cursor: pointer;
  }
  .opacity {
    opacity: 0.5;
  }
  .outline-none {
    outline: none;
    user-select: none; 
  }


  .modal {
    height: 500px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    padding: 45px;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    z-index: 1011}
    
    .modal.visible {
      opacity: 1;
      pointer-events: auto;
    }